.tutorial-list li {
  display: flex;
  align-items: center;
  position: relative;
  counter-increment: item 1;
}

.tutorial-list li::before {
  content: counter(item) ". ";
  position: relative;
  list-style: none;
  left: 0;
  margin-right: var(--space-sm);
}

.tutorial-with-check {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  max-width: fit-content;
}

label {
  margin: 0;
}
